/* * {
    outline: 1px solid black;
    box-sizing: border-box;

} */

.body{
    margin: 0px;
    padding: 0px;
}

#container {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
    width: 960px; /* Total width of the container */
}
.square{
    height: 10px;
    width: 10px;
}

